body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #000; 
    user-select: none;
    /* Ensure this path matches your file exactly */
    background-image: url('../images/superscott64.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}

canvas { cursor: grab; }
canvas:active { cursor: grabbing; }

#ui {
    position: absolute; bottom: 15px; width: 100%; text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; color: #ffffff; pointer-events: none;
    font-size: 14px; z-index: 10;
    text-shadow: 2px 2px 0 #000;
}
#mute-btn {
    pointer-events: auto; cursor: pointer; text-decoration: underline;
}

#start-btn {
    position: absolute; bottom: 30px; left: 20px; width: 180px;
    cursor: pointer; pointer-events: auto; z-index: 20;
    transition: transform 0.1s, filter 0.2s;
}
.playing {
    filter: brightness(1.3) drop-shadow(0 0 5px gold);
    transform: scale(1.00);
}